.aboutPage {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.heading{
  margin-top: 20px;
  text-align: center;
  font-size: 2.5em;
}

.parah{
  text-align: center;
}

/* Mission Section */
.missionSection {
  text-align: center;
  background-color: #ffffff;
  color: #1b2838;
  padding: 50px 20px;
  margin: 40px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.missionSection h2 {
  font-size: 2.2em;
  margin-bottom: 15px;
  color: #ff5733;
}

.missionSection p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Team Section */
.teamSection {
  text-align: center;
  background-color: #ffffff;
  color: #1b2838;
  padding: 50px 20px;
  margin: 40px 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.teamSection h2 {
  font-size: 2.2em;
  margin-bottom: 15px;
  color: #ff5733;
}

.teamSection p {
  font-size: 1.2em;
  line-height: 1.6;
}

/* Footer */
.footer {
  text-align: center;
  background-color: #1b2838;
  color: #ffffff;
  padding: 25px 0;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
  color: #cccccc;
}
