.storePage {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
}

.carouselContainer {
  margin: 30px auto;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
}

h2 {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 10px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.card {
  flex: 0 0 auto;
  width: 150px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.productImage {
  object-fit: contain;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
  color: #555;
}
